button {
    transition-duration: 0.4s;
    padding: 20px;
    color: white;
    border: 2px solid white;
    background-color: black;
    margin-top: 15%;

}

button:hover {
    border: 2px solid white;

    color: yellow;
}


#main {
    background-image: url("../content/orrery2-no-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    padding: 0;
    background-position: right;
    text-shadow: 1px 1px 2px black;

}
#installation-in-background {
    backdrop-filter: blur(1px);
    padding: 30px;
    flex:1;
}


